---
title: Dr. B Syiemlieh
description: Dental Specialist (MDS, Prosthodontist & Oral Implantologist)
layout: base.njk
---

<main>
    <header>
        <h1>{{ title }}</h1>
        <h2>(BDS, MDS)</h2>
    </header>
    <ul id="comms">
        <li>
            <a href="tel:+916033169989"><img src="/icons/phone.svg" alt="Call us icon"> Call us at +91 6033169989</a>
        </li>
        <li>
            <a href="https://goo.gl/maps/QXCv335kiLYKDfz27"><img src="/icons/map-pin.svg" alt="Find us icon"> Find us on Google Maps</a>
        </li>
        <li>
            <a href="https://api.whatsapp.com/message/GFDDVEQN547XI1"><img src="/icons/message-circle.svg" alt="Chat with us icon"> Chat with us on WhatsApp</a>
        </li>
    </ul>
</main>
